@import "tailwindcss";

/* Global background color */
html,
body,
#root {
  height: 100%;
  background-color: #1c1219;
}

/* Hide the native password reveal icon in Chrome, Edge, and Safari */
input::-ms-reveal,
input::-ms-clear,
input::-webkit-password-toggle-button {
  display: none;
}
